.level_3 {
	-fx-background-image:url('./windows_levels/level_3.png');
}

.level_4 {
	-fx-background-image:url('./windows_levels/level_4.png');
}

.level_5 {
	-fx-background-image:url('./windows_levels/level_5.png');
}

.level_6 {
	-fx-background-image:url('./windows_levels/level_6.png');
}